* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #98c4d8b9;;
  font-family: 'Staatliches', cursive;
}

body::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;

  top: 0;
  left: 0;
  z-index: -2;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;

  background: #293241;

  width: 100%;
  padding-top: 110px;
  padding-bottom: 32px;
}

h1, h2 {
  font-size: 36px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

header img {
  margin-top: 20px;
  width: 225px;
  height: 100px;
}

.container-top {
  background: #293241;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.top-box {
  background: #F67669;
  color: #ffffff;
  width: 750px;
  height: 133px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 20px 20px 0 0;
}

.container-form {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
}

form {
  background: #ffffff;
}

.personal-infomation,
.mentor-information,
.time-information {
  width: 622px;
  margin: 64px 64px 32px 64px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
  margin-bottom: 8px;
}

label span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color:#C1BCCC;
}

label span:hover {
  color: #86838d;
}

.name {
  display: flex;
  justify-content: space-between;
}

.input-wrapper,
.email-input-wrapper,
.feedback-input-wrapper {
  display: flex;
  flex-direction: column;
}

input, textarea {
  width: 300px;
  height: 56px;
  
  border: 1px solid #E6E6F0;
  background: #FAFAFC;
  border-radius: 8px;

  padding-left: 12px;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #413f44;
}

.email-input-wrapper input {
  width: 100%;
}

.line {
  margin-top: 16px;
  margin-bottom: 32px;
  border: 1px solid #E6E6F0;
  width: 622px;
}

.mentor {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mentor-information h2,
.time-information h2 {
  text-align: center;
  font-weight: 400;
  color:#253B51;
}

.mentor-information input {
  width: 300px;
}

textarea {
  padding-top: 5px;
  width: 100%;
  height: 166px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-wrapper label {
  margin: 0;
}

.checkbox-wrapper input {
  width: 24px;
  height: 24px;
  opacity: 1;
}

.mentorship {
  display: flex;
  max-width: 622px;
  padding: 18px 0;
}

.date-input-wrapper {
  margin-right: 32px;
}

.date-input-wrapper input,
.time-input-wrapper input {
  width: 300px;
  font-size: 16px;
  color: #535971;
}

.time-input-wrapper input {
  width: 140px;
}

.time-input-wrapper + .time-input-wrapper {
  margin-left: 10px;
}

.bottom-box {
  background: #ffffff;
  width: 750px;
  height: 133px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius:  0 0 20px 20px;
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 750px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px, 40px, 15px, 40px;
  margin: 0 auto;
  width: 622px;
  height: 52px;

  background: #F67669;
  border-radius: 8px;

  font-size: 20px;
  color: #FFFFFF;

  top: 52px;

  border: 0;
}

input:invalid,
textarea:invalid {
  border: 1px solid red;
}
